$maincolor : #ff0000;

.light-enter {
    opacity : 0;
}
.light-enter-active {
    opacity : 1;
    transition: all 500ms;
}

.red {
    color : $maincolor;
}

.my-alert {
    background: #eeeeee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.my-alert2 {
    @extend .my-alert;
    background: #ffe591
}